<?xml version="1.0"?>
<config>
    <tabs>
        <contestio translate="label" module="contestio_connect">
            <label>Contestio</label>
            <sort_order>100</sort_order>
        </contestio>
    </tabs>
    <sections>
        <contestio_connect translate="label" module="contestio_connect">
            <label>Configuration Contestio</label>
            <tab>contestio</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api_settings translate="label">
                    <label>Authentification</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <api_key translate="label">
                            <label>Identifiant</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <access_token translate="label">
                            <label>Jeton d'accès</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </access_token>
                    </fields>
                </api_settings>

                <api_settings_advanced translate="label" module="contestio_connect">
                    <label>Avancé</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <base_url translate="label">
                            <label>URL de l'API</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Default: https://api.contestio.fr</comment>
                        </base_url>

                        <base_url_iframe translate="label">
                            <label>URL de l'iframe</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Default: https://plugin.contestio.fr</comment>
                        </base_url_iframe>
                    </fields>
                </api_settings_advanced>
            </groups>
        </contestio_connect>
    </sections>
</config>
